.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  max-width: 1264px;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: #add8e6;
  padding-top: 2em;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 300px;
  margin: 0 10px 20px;
  padding: 1em 2em;
  background-color: #fff;
  border-radius: 4px;
}
.card__title {
  text-align: center;
}
.card__img {
  width: 100%;
  object-fit: contain;
  margin: 1em 0;
}
.footer {
  width: 100%;
  height: 150px;
  background-color: #666;
  margin-top: auto;
  padding: 1.5em 2em 1em;
  box-sizing: border-box;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  max-width: 1264px;
  margin: 0 auto;
}
.footer__logo {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #ffb6c1;
  animation: floating 0.6s both infinite alternate ease-out;
}
@-moz-keyframes floating {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}
@-webkit-keyframes floating {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}
@-o-keyframes floating {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}
.footer__list {
  font-size: 1rem;
  line-height: 1.3;
  padding-left: 1em;
}
.footer__bottom {
  margin-top: 1.5em;
}
