.header {
  width: 100%;
  height: 48px;
  background-color: #f8f9f9;
  box-shadow: 0 2px 2px #ddd;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 1264px;
  margin: 0 auto;
  height: 100%;
}
.header__hr {
  width: 100%;
  height: 3px;
  background-color: #f48225;
  margin: 0;
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  height: 100%;
  min-width: 166px;
  font-size: 1.5em;
}
.header__logo:active {
  filter: brightness(0.9);
}
.header__logo:hover {
  background-color: #e3e6e8;
}
.header__logo span {
  margin-left: 2px;
  font-weight: 900;
}
.header__main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.header__tab {
  cursor: pointer;
  user-select: none;
  padding: 0.5em 0.75em;
  border-radius: 50px;
  margin-right: 0.25em;
  color: #888;
  white-space: nowrap;
}
.header__tab:active {
  filter: brightness(0.9);
}
.header__tab:hover {
  background-color: #e3e6e8;
}
@media (max-width: 980px) {
  .header__tab {
    display: none;
  }
}
@media (max-width: 980px) {
  .header__tab.header__tab--keep {
    display: block;
  }
}
.header__searchIcon {
  font-size: 24px;
  min-width: 24px;
  margin-left: 8px;
  margin-right: -32px;
  z-index: 10;
}
.header__searchBar {
  width: 100%;
  height: 32px;
  padding: 0 3em;
  margin-right: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.header__searchBar:focus-visible {
  border: 1px solid #7aa7c7;
  outline: none;
  box-shadow: 0 0 0 4px rgba(154,199,231,0.314);
}
.header__searchBar::after {
  content: '';
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #f00;
}
.header__user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.header__user button {
  cursor: pointer;
  user-select: none;
  padding: 8px 0.8em;
  border-radius: 4px;
  white-space: nowrap;
  border: 1px solid #7aa7c7;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);
}
.header__user button:active {
  filter: brightness(0.9);
}
.header__user button+button {
  margin-left: 4px;
}
.button--login {
  background-color: #e1ecf4;
  color: #39739d;
}
.button--login:hover {
  background-color: #b3d3ea;
}
.button--signup {
  color: #fff;
  background-color: #0a95ff;
}
.button--signup:hover {
  background-color: #0074cc;
}
